$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #5e616d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0f59a4 !default;
$indigo: #525288 !default;
$purple: #813c85 !default;
$pink: #ef475d !default;
$red: #c21f30 !default;
$orage: #f97d1c !default;
$yellow: #fed71a !default;
$teal: #1ba784 !default;
$green: #20a162 !default;
$cyan: #8abcd1 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning : $yellow !default;
$danger : $red !default;
$light: $gray-100 !default;
$dark : $gray-800 !default;
